<link href="/css/puzzles.css" rel="stylesheet">

<div class="middle-box">
    <div class="top">
        <div class="info-box">
            BLOCKS
        </div>

        <div class="content-box">
            <h4>Welcome to Blocks</h4>
            Some more content

            <div class="buttons">
                <a href="/editor" class="btn btn-success">Create new</a>
                <a href="#" class="btn btn-success">Load</a>
            </div>
        </div>
    </div>

    <div class="bottom">
        <ul class="list">
            <li class="active"><a href="#">Introduction</a></li>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Introduction</a></li>
        </ul>

        <div class="content-box">
            <h4>Intro to testing</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            <div class="buttons">
                <a href="#" class="btn btn-success">Load</a>
            </div>
        </div>
    </div>
</div>
