.middle-box {
    width: 800px;
    height: 300px;
    margin: 100px auto;

    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.top {
    box-sizing: border-box;
    height: 50%;
    border-bottom: 1px solid rgb(247, 247, 247);
}

.info-box {
    width: 200px;
    height: 100%;
    float: left;
    background-color: rgb(247, 247, 247);
}
.content-box {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    width: 600px;
    position: relative;
    height: 100%;
}
.content-box .buttons {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.bottom {
    height: 50%;
}
ul.list {
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 200px;
    float: left;
    border-right: 1px solid rgb(247, 247, 247);
    list-style: none;
    padding: 4px 0;
}
.list > li {
    padding: 4px 10px;
    border-top: 1px solid #e6e9ed;
}
.list > li.active , .list > li.active:hover{
    background: #4fc1e9;
}
.list > li > a:link, .list > li > a:visited {
    color: rgb(84, 82, 82);
}
.list > li.active > a:link, .list > li.active > a:visited {
    color: white;
}
.list > li:hover {
    background: rgb(234, 234, 234);
    cursor: pointer;
}
