<link href="/css/editor.css" rel="stylesheet">

<!-- header bar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Blocks</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a>New</a></li>
                <li><a>Save</a></li>
                <li><a>Load</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/puzzles">Puzzles</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- main content -->
<div class="main">
    <!-- main editor panels -->
    <div class="main-panels">
        <div class="panel-container" id="application-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button class="btn btn-default" id="application-btn-run">Run</button>
                    <h3 class="panel-title">Application</h3>
                </div>
                <div class="panel-body" id="application-blockly" style="position: absolute"></div>
            </div>
        </div>

        <div class="panel-container" id ="testing-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button class="btn btn-default" id="testing-btn-run">Run</button>
                    <h3 class="panel-title">Tests</h3>
                </div>
                <div class="panel-body" id="testing-blockly" style="position: absolute"></div>
            </div>
        </div>
    </div>

    <div class="output-panel">
        <div class="panel-container" id="output-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button class="btn btn-default" id="output-btn-clear">Clear</button>
                    <h3 class="panel-title">Output</h3>
                </div>
                <div class="panel-body" id="output">
                    Some output<br />
                    more output here<br/>
                </div>
            </div>
        </div>
    </div>
</div>

<xml id="application-toolbox" style="display: none">
    <category name="Logic">
        <category name="If">
            <block type="controls_if"></block>
            <block type="controls_if">
                <mutation else="1"></mutation>
            </block>
            <block type="controls_if">
                <mutation elseif="1" else="1"></mutation>
            </block>
        </category>
        <category name="Boolean">
            <block type="logic_compare"></block>
            <block type="logic_operation"></block>
            <block type="logic_negate"></block>
            <block type="logic_boolean"></block>
            <block type="logic_null"></block>
            <block type="logic_ternary"></block>
        </category>
    </category>
    <category name="Loops">
        <block type="controls_repeat_ext">
            <value name="TIMES">
                <block type="math_number">
                    <field name="NUM">10</field>
                </block>
            </value>
        </block>
        <block type="controls_whileUntil"></block>
        <block type="controls_for">
            <field name="VAR">i</field>
            <value name="FROM">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="TO">
                <block type="math_number">
                    <field name="NUM">10</field>
                </block>
            </value>
            <value name="BY">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="controls_forEach"></block>
        <block type="controls_flow_statements"></block>
    </category>
    <category name="Math">
        <block type="math_number"></block>
        <block type="math_arithmetic"></block>
        <block type="math_single"></block>
        <block type="math_trig"></block>
        <block type="math_constant"></block>
        <block type="math_number_property"></block>
        <block type="math_change">
            <value name="DELTA">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="math_round"></block>
        <block type="math_on_list"></block>
        <block type="math_modulo"></block>
        <block type="math_constrain">
            <value name="LOW">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="HIGH">
                <block type="math_number">
                    <field name="NUM">100</field>
                </block>
            </value>
        </block>
        <block type="math_random_int">
            <value name="FROM">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="TO">
                <block type="math_number">
                    <field name="NUM">100</field>
                </block>
            </value>
        </block>
        <block type="math_random_float"></block>
    </category>
    <category name="Lists">
        <block type="lists_create_empty"></block>
        <block type="lists_create_with"></block>
        <block type="lists_repeat">
            <value name="NUM">
                <block type="math_number">
                    <field name="NUM">5</field>
                </block>
            </value>
        </block>
        <block type="lists_length"></block>
        <block type="lists_isEmpty"></block>
        <block type="lists_indexOf"></block>
        <block type="lists_getIndex"></block>
        <block type="lists_setIndex"></block>
    </category>
    <category name="Variables" custom="VARIABLE"></category>
    <category name="Functions" custom="PROCEDURE"></category>
    <category name="Text">
        <block type="text_print"></block>
        <block type="text"></block>
    </category>
</xml>

<xml id="testing-toolbox" style="display: none">
    <category name="Logic">
        <category name="If">
            <block type="controls_if"></block>
            <block type="controls_if">
                <mutation else="1"></mutation>
            </block>
            <block type="controls_if">
                <mutation elseif="1" else="1"></mutation>
            </block>
        </category>
        <category name="Boolean">
            <block type="logic_compare"></block>
            <block type="logic_operation"></block>
            <block type="logic_negate"></block>
            <block type="logic_boolean"></block>
            <block type="logic_null"></block>
            <block type="logic_ternary"></block>
        </category>
    </category>
    <category name="Loops">
        <block type="controls_repeat_ext">
            <value name="TIMES">
                <block type="math_number">
                    <field name="NUM">10</field>
                </block>
            </value>
        </block>
        <block type="controls_whileUntil"></block>
        <block type="controls_for">
            <field name="VAR">i</field>
            <value name="FROM">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="TO">
                <block type="math_number">
                    <field name="NUM">10</field>
                </block>
            </value>
            <value name="BY">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="controls_forEach"></block>
        <block type="controls_flow_statements"></block>
    </category>
    <category name="Math">
        <block type="math_number"></block>
        <block type="math_arithmetic"></block>
        <block type="math_single"></block>
        <block type="math_trig"></block>
        <block type="math_constant"></block>
        <block type="math_number_property"></block>
        <block type="math_change">
            <value name="DELTA">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="math_round"></block>
        <block type="math_on_list"></block>
        <block type="math_modulo"></block>
        <block type="math_constrain">
            <value name="LOW">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="HIGH">
                <block type="math_number">
                    <field name="NUM">100</field>
                </block>
            </value>
        </block>
        <block type="math_random_int">
            <value name="FROM">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="TO">
                <block type="math_number">
                    <field name="NUM">100</field>
                </block>
            </value>
        </block>
        <block type="math_random_float"></block>
    </category>
    <category name="Lists">
        <block type="lists_create_empty"></block>
        <block type="lists_create_with"></block>
        <block type="lists_repeat">
            <value name="NUM">
                <block type="math_number">
                    <field name="NUM">5</field>
                </block>
            </value>
        </block>
        <block type="lists_length"></block>
        <block type="lists_isEmpty"></block>
        <block type="lists_indexOf"></block>
        <block type="lists_getIndex"></block>
        <block type="lists_setIndex"></block>
    </category>
    <category name="Variables" custom="VARIABLE"></category>
    <category name="Functions" custom="PROCEDURE_TESTING"></category>
    <category name="Text">
        <block type="text_print"></block>
        <block type="text"></block>
    </category>
    <sep></sep>
    <category name="Testing">

    </category>
</xml>


<xml id="startBlocks" style="display: none">
    <block type="procedures_defreturn" x="50" y="33">
        <mutation>
            <arg name="x"></arg>
        </mutation>
        <field name="NAME">double</field>
        <comment pinned="false" h="80" w="160">Doubles and returns a given value</comment>
        <statement name="STACK">
            <block type="variables_set">
                <field name="VAR">returnValue</field>
                <value name="VALUE">
                    <block type="math_arithmetic">
                        <field name="OP">MULTIPLY</field>
                        <value name="A">
                            <block type="variables_get">
                                <field name="VAR">x</field>
                            </block>
                        </value>
                        <value name="B">
                            <block type="math_number">
                                <field name="NUM">2</field>
                            </block>
                        </value>
                    </block>
                </value>
            </block>
        </statement>
        <value name="RETURN">
            <block type="variables_get">
                <field name="VAR">returnValue</field>
            </block>
        </value>
    </block>
</xml>

<xml id="startBlocks_test1" style="display: none">
    <block type="text_print" inline="false">
        <value name="TEXT">
            <block type="text">
                <field name="TEXT">This is test number 1</field>
            </block>
        </value>
    </block>

    <block type="text_print" x="98" y="163">
        <value name="TEXT">
            <block type="procedures_callreturn">
                <mutation name="double">
                    <arg name="x"></arg>
                </mutation>
                <value name="ARG0">
                    <block type="math_number">
                        <field name="NUM">15</field>
                    </block>
                </value>
            </block>
        </value>
    </block>
</xml>

<script src="/js/blockly/blockly_compressed.js"></script>
<script src="/js/blockly/blocks_compressed.js"></script>
<script src="/js/blockly/msg_en.js"></script>
<script src="/js/blockly/javascript_generator_compressed.js"></script>
<script src="/js/editor.js"></script>
