<link href="/css/editor.css" rel="stylesheet">

<!-- header bar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Blocks</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a>New</a></li>
                <li><a>Save</a></li>
                <li><a>Load</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/puzzles">Puzzles</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- main content -->
<div class="main">
    <!-- main editor panels -->
    <div class="main-panels">
        <div class="panel-container" id="application-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button class="btn btn-default btn-run" id="application-btn-run">Run</button>
                    <h3 class="panel-title">Application</h3>
                </div>
                <div class="panel-body" id="application-blockly" style="position: absolute"></div>
            </div>
        </div>

        <div class="panel-container" id ="testing-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button class="btn btn-default btn-run" id="testing-btn-run-all">Run All</button>

                    <div class="dropdown">
                        <h3 class="panel-title dropdown-toggle" id="testing-dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Tests: <span id="testing-current-name"></span>
                            <span class="caret"></span>
                        </h3>

                        <ul class="dropdown-menu" aria-labelledby="testing-dropdownMenu">
                            <li class="dropdown-header">Your Tests</li>
                            <div id="testing-select-menu">

                            </div>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Manage</li>
                            <li><a href="#">Add new test</a></li>
                            <li><a href="#">Edit tests</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body" id="testing-blockly" style="position: absolute"></div>
            </div>
        </div>
    </div>

    <div class="output-panel">
        <div class="panel-container" id="output-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button class="btn btn-default btn-run" id="output-btn-clear">Clear</button>
                    <h3 class="panel-title">Output</h3>
                </div>
                <div class="panel-body" id="output">

                </div>
            </div>
        </div>
    </div>
</div>

<div id="running-test-workspace" style="width: 0; height: 0; display: hidden;"></div>

<xml id="application-toolbox" style="display: none">
    <category name="Logic">
        <category name="If">
            <block type="controls_if"></block>
            <block type="controls_if">
                <mutation else="1"></mutation>
            </block>
            <block type="controls_if">
                <mutation elseif="1" else="1"></mutation>
            </block>
        </category>
        <category name="Boolean">
            <block type="logic_compare"></block>
            <block type="logic_operation"></block>
            <block type="logic_negate"></block>
            <block type="logic_boolean"></block>
            <block type="logic_null"></block>
            <block type="logic_ternary"></block>
        </category>
    </category>
    <category name="Loops">
        <block type="controls_repeat_ext">
            <value name="TIMES">
                <block type="math_number">
                    <field name="NUM">10</field>
                </block>
            </value>
        </block>
        <block type="controls_whileUntil"></block>
        <block type="controls_for">
            <field name="VAR">i</field>
            <value name="FROM">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="TO">
                <block type="math_number">
                    <field name="NUM">10</field>
                </block>
            </value>
            <value name="BY">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="controls_forEach"></block>
        <block type="controls_flow_statements"></block>
    </category>
    <category name="Math">
        <block type="math_number"></block>
        <block type="math_arithmetic"></block>
        <block type="math_single"></block>
        <block type="math_trig"></block>
        <block type="math_constant"></block>
        <block type="math_number_property"></block>
        <block type="math_change">
            <value name="DELTA">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="math_round"></block>
        <block type="math_on_list"></block>
        <block type="math_modulo"></block>
        <block type="math_constrain">
            <value name="LOW">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="HIGH">
                <block type="math_number">
                    <field name="NUM">100</field>
                </block>
            </value>
        </block>
        <block type="math_random_int">
            <value name="FROM">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="TO">
                <block type="math_number">
                    <field name="NUM">100</field>
                </block>
            </value>
        </block>
        <block type="math_random_float"></block>
    </category>
    <category name="Lists">
        <block type="lists_create_empty"></block>
        <block type="lists_create_with"></block>
        <block type="lists_repeat">
            <value name="NUM">
                <block type="math_number">
                    <field name="NUM">5</field>
                </block>
            </value>
        </block>
        <block type="lists_length"></block>
        <block type="lists_isEmpty"></block>
        <block type="lists_indexOf"></block>
        <block type="lists_getIndex"></block>
        <block type="lists_setIndex"></block>
    </category>
    <category name="Variables" custom="VARIABLE"></category>
    <category name="Functions" custom="PROCEDURE"></category>
    <category name="Text">
        <block type="text_print"></block>
        <block type="text"></block>
    </category>
</xml>

<xml id="testing-toolbox" style="display: none">
    <category name="Logic">
        <category name="If">
            <block type="controls_if"></block>
            <block type="controls_if">
                <mutation else="1"></mutation>
            </block>
            <block type="controls_if">
                <mutation elseif="1" else="1"></mutation>
            </block>
        </category>
        <category name="Boolean">
            <block type="logic_compare"></block>
            <block type="logic_operation"></block>
            <block type="logic_negate"></block>
            <block type="logic_boolean"></block>
            <block type="logic_null"></block>
            <block type="logic_ternary"></block>
        </category>
    </category>
    <category name="Loops">
        <block type="controls_repeat_ext">
            <value name="TIMES">
                <block type="math_number">
                    <field name="NUM">10</field>
                </block>
            </value>
        </block>
        <block type="controls_whileUntil"></block>
        <block type="controls_for">
            <field name="VAR">i</field>
            <value name="FROM">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="TO">
                <block type="math_number">
                    <field name="NUM">10</field>
                </block>
            </value>
            <value name="BY">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="controls_forEach"></block>
        <block type="controls_flow_statements"></block>
    </category>
    <category name="Math">
        <block type="math_number"></block>
        <block type="math_arithmetic"></block>
        <block type="math_single"></block>
        <block type="math_trig"></block>
        <block type="math_constant"></block>
        <block type="math_number_property"></block>
        <block type="math_change">
            <value name="DELTA">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="math_round"></block>
        <block type="math_on_list"></block>
        <block type="math_modulo"></block>
        <block type="math_constrain">
            <value name="LOW">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="HIGH">
                <block type="math_number">
                    <field name="NUM">100</field>
                </block>
            </value>
        </block>
        <block type="math_random_int">
            <value name="FROM">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="TO">
                <block type="math_number">
                    <field name="NUM">100</field>
                </block>
            </value>
        </block>
        <block type="math_random_float"></block>
    </category>
    <category name="Lists">
        <block type="lists_create_empty"></block>
        <block type="lists_create_with"></block>
        <block type="lists_repeat">
            <value name="NUM">
                <block type="math_number">
                    <field name="NUM">5</field>
                </block>
            </value>
        </block>
        <block type="lists_length"></block>
        <block type="lists_isEmpty"></block>
        <block type="lists_indexOf"></block>
        <block type="lists_getIndex"></block>
        <block type="lists_setIndex"></block>
    </category>
    <category name="Variables" custom="VARIABLE"></category>
    <category name="Functions" custom="PROCEDURE-TESTS"></category>
    <category name="Text">
        <block type="text_print"></block>
        <block type="text"></block>
    </category>
    <sep></sep>
    <category name="Testing">
        <block type="assert">
            <value name="ASSERT_SUCCESS_IF">
                <block type="logic_boolean">
                    <field name="BOOL">TRUE</field>
                </block>
            </value>
        </block>
        <block type="assert">
            <value name="ASSERT_SUCCESS_IF">
                <block type="logic_boolean">
                    <field name="BOOL">FALSE</field>
                </block>
            </value>
        </block>
    </category>
</xml>

<script src="/js/blockly/blockly_compressed.js"></script>
<script src="/js/blockly/blocks_compressed.js"></script>
<script src="/js/blockly/msg_en.js"></script>
<script src="/js/blockly/javascript_compressed.js"></script>
<script src="/js/acorn_interpreter.js"></script>

<script src="/js/editor/puzzles.js"></script>
<script src="/js/editor/executor.js"></script>
<script src="/js/editor/output.js"></script>
<script src="/js/editor/ui.js"></script>
<script src="/js/editor/workspace.js"></script>
<script src="/js/editor/main.js"></script>

<script src="/js/editor/custom_blocks/assert.js"></script>
