<link href="/css/editor.css" rel="stylesheet">

<!-- header bar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Blocks</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a data-toggle="modal" data-target="#modal-new">New</a></li>
                <li><a data-toggle="modal" data-target="#modal-save">Save</a></li>
                <li><a data-toggle="modal" data-target="#modal-load">Load</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/puzzles">Puzzles</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- main content -->
<div class="main">
    <!-- main editor panels -->
    <div class="main-panels">
        <div class="panel-container" id="application-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button class="btn btn-default btn-run" id="application-btn-run">Run</button>
                    <h3 class="panel-title">
                        Application / <span id="application-current-name"></span>
                    </h3>
                </div>
                <div class="panel-body" id="application-blockly" style="position: absolute"></div>
            </div>
        </div>

        <div class="panel-container" id ="testing-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button class="btn btn-default btn-run" id="testing-btn-run-all">Run All</button>

                    <div class="dropdown">
                        <h3 class="panel-title dropdown-toggle" id="testing-dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Tests / <span id="testing-current-name"></span>
                            <span class="caret"></span>
                        </h3>

                        <ul class="dropdown-menu" aria-labelledby="testing-dropdownMenu">
                            <li class="dropdown-header">Your Tests</li>
                            <div id="testing-select-menu">

                            </div>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Manage</li>
                            <li><a id="testing-dropdown-new">Add new test</a></li>
                            <li><a id="testing-dropdown-edit">Edit tests</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body" id="testing-blockly" style="position: absolute"></div>
            </div>
        </div>
    </div>

    <div class="output-panel">
        <div class="panel-container" id="output-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button class="btn btn-default btn-run" id="output-btn-clear">Clear</button>
                    <h3 class="panel-title">Output</h3>
                </div>
                <div class="panel-body" id="output">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Hidden file input for openning a local file -->
<input type="file" id="header-load-fileInput" accept=".vbpuz" style="display: none;"/>

<!-- New Puzzle Modal -->
<div class="modal fade" id="modal-new" tabindex="-1" role="dialog" aria-labelledby="New Puzzle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New Puzzle</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to create a new Puzzle, any unsaved changes to the current Puzzle will be lost.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal-new-btn">Create New</button>
            </div>
        </div>
    </div>
</div>

<!-- Save Puzzle Modal -->
<div class="modal fade" id="modal-save" tabindex="-1" role="dialog" aria-labelledby="Save Puzzle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Save Puzzle</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputSaveName" class="col-sm-3 control-label">Puzzle Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputSavePuzzleName">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal-save-locally-btn">Save locally</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" id="modal-save-publish-btn">Publish online</button>
            </div>
        </div>
    </div>
</div>

<!-- Load Puzzle Modal -->
<div class="modal fade" id="modal-load" tabindex="-1" role="dialog" aria-labelledby="Load Puzzle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Load Puzzle</h4>
            </div>
            <div class="modal-body">
                Puzzles can be loaded from your computer or you can browse the user published puzzles
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="modal-load-locally-btn">Load locally</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" id="modal-load-publish-btn">View published</button>
            </div>
        </div>
    </div>
</div>

<!-- Add new test Modal -->
<div class="modal fade" id="modal-tests-new" tabindex="-1" role="dialog" aria-labelledby="Add Test">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Test</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="input-tests-new-name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-tests-new-name">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-tests-new-cancel-btn">Cancel</button>
                <button type="button" class="btn btn-primary" id="modal-tests-new-btn">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit tests list Modal -->
<div class="modal fade" id="modal-tests-edit-list" tabindex="-1" role="dialog" aria-labelledby="Edit Tests">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Tests</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last Run</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="modal-tests-edit-tests-list">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit test Modal -->
<div class="modal fade" id="modal-tests-edit" tabindex="-1" role="dialog" aria-labelledby="Edit Test">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Rename Test</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" id="input-tests-edit-id">
                    <div class="form-group">
                        <label for="input-tests-new-name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-tests-edit-name">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-tests-edit-cancel-btn">Cancel</button>
                <button type="button" class="btn btn-primary" id="modal-tests-edit-btn">Rename</button>
            </div>
        </div>
    </div>
</div>

<!-- Shared Blockly Toolbox -->
<xml id="blockly-shared-toolbox" style="display: none">
    <category name="Logic" colour="210">
        <block type="controls_if"></block>
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_negate"></block>
        <block type="logic_boolean"></block>
        <!-- <block type="logic_ternary"></block> -->
    </category>
    <category name="Loops" colour="120">
        <block type="controls_repeat_ext">
            <value name="TIMES">
                <shadow type="math_number">
                    <field name="NUM">10</field>
                </shadow>
            </value>
        </block>
        <block type="controls_whileUntil"></block>
        <block type="controls_for">
            <value name="FROM">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="TO">
                <shadow type="math_number">
                    <field name="NUM">10</field>
                </shadow>
            </value>
            <value name="BY">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
        </block>
        <block type="controls_forEach"></block>
        <block type="controls_flow_statements"></block>
    </category>
    <category name="Math" colour="230">
        <block type="math_number" gap="32"></block>
        <block type="math_arithmetic">
            <value name="A">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="B">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
        </block>
        <block type="math_single">
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM">9</field>
                </shadow>
            </value>
        </block>
        <block type="math_trig">
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM">45</field>
                </shadow>
            </value>
        </block>
        <block type="math_constant"></block>
        <block type="math_number_property">
            <value name="NUMBER_TO_CHECK">
                <shadow type="math_number">
                    <field name="NUM">0</field>
                </shadow>
            </value>
        </block>
        <block type="math_change">
            <value name="DELTA">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
        </block>
        <block type="math_round">
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM">3.1</field>
                </shadow>
            </value>
        </block>
        <block type="math_on_list"></block>
        <block type="math_modulo">
            <value name="DIVIDEND">
                <shadow type="math_number">
                    <field name="NUM">64</field>
                </shadow>
            </value>
            <value name="DIVISOR">
                <shadow type="math_number">
                    <field name="NUM">10</field>
                </shadow>
            </value>
        </block>
        <block type="math_constrain">
            <value name="VALUE">
                <shadow type="math_number">
                    <field name="NUM">50</field>
                </shadow>
            </value>
            <value name="LOW">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="HIGH">
                <shadow type="math_number">
                    <field name="NUM">100</field>
                </shadow>
            </value>
        </block>
        <block type="math_random_int">
            <value name="FROM">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="TO">
                <shadow type="math_number">
                    <field name="NUM">100</field>
                </shadow>
            </value>
        </block>
        <block type="math_random_float"></block>
    </category>
    <category name="Text" colour="160">
        <block type="text"></block>
        <block type="text_join"></block>
        <block type="text_append">
            <value name="TEXT">
                <shadow type="text"></shadow>
            </value>
        </block>
        <block type="text_length">
            <value name="VALUE">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_isEmpty">
            <value name="VALUE">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
        </block>
        <block type="text_indexOf">
            <value name="VALUE">
                <block type="variables_get">
                    <field name="VAR">text</field>
                </block>
            </value>
            <value name="FIND">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_charAt">
            <value name="VALUE">
                <block type="variables_get">
                    <field name="VAR">text</field>
                </block>
            </value>
        </block>
        <block type="text_getSubstring">
            <value name="STRING">
                <block type="variables_get">
                    <field name="VAR">text</field>
                </block>
            </value>
        </block>
        <block type="text_changeCase">
            <value name="TEXT">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_trim">
            <value name="TEXT">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_print">
            <value name="TEXT">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_prompt_ext">
            <value name="TEXT">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
    </category>
    <category name="Lists" colour="260">
        <block type="lists_create_with">
            <mutation items="0"></mutation>
        </block>
        <block type="lists_create_with"></block>
        <block type="lists_repeat">
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM">5</field>
                </shadow>
            </value>
        </block>
        <block type="lists_length"></block>
        <block type="lists_isEmpty"></block>
        <block type="lists_indexOf">
            <value name="VALUE">
                <block type="variables_get">
                    <field name="VAR">list</field>
                </block>
            </value>
        </block>
        <block type="lists_getIndex">
            <value name="VALUE">
                <block type="variables_get">
                    <field name="VAR">list</field>
                </block>
            </value>
        </block>
        <block type="lists_setIndex">
            <value name="LIST">
                <block type="variables_get">
                    <field name="VAR">list</field>
                </block>
            </value>
        </block>
        <block type="lists_getSublist">
            <value name="LIST">
                <block type="variables_get">
                    <field name="VAR">list</field>
                </block>
            </value>
        </block>
        <block type="lists_split">
            <value name="DELIM">
                <shadow type="text">
                    <field name="TEXT">,</field>
                </shadow>
            </value>
        </block>
    </category>
    <sep></sep>
    <category name="Variables" colour="330" custom="VARIABLE"></category>
    <category name="Functions" colour="290" custom="PROCEDURE"></category>
    <sep></sep>
</xml>

<!-- Application Only Blockly Toolbox -->
<xml id="blockly-application-only-toolbox" style="display: none">

</xml>

<!-- Tests Only Blockly Toolbox -->
<xml id="blockly-testing-only-toolbox" style="display: none">
    <category name="Testing" colour="10">
        <block type="assert">
            <value name="ASSERT_SUCCESS_IF">
                <block type="logic_boolean">
                    <field name="BOOL">TRUE</field>
                </block>
            </value>
        </block>
        <block type="assert">
            <value name="ASSERT_SUCCESS_IF">
                <block type="logic_boolean">
                    <field name="BOOL">FALSE</field>
                </block>
            </value>
        </block>

        <block type="simulate_input"></block>
        <block type="get_output"></block>

        <block type="if_outputs_left"></block>
        <block type="if_prompts_missed"></block>

        <block type="console_output"></block>
    </category>
</xml>

<script src="/js/blockly/blockly_compressed.js"></script>
<script src="/js/blockly/blocks_compressed.js"></script>
<script src="/js/blockly/msg_en.js"></script>
<script src="/js/blockly/javascript_compressed.js"></script>
<script src="/js/acorn_interpreter.js"></script>
<script src="/js/filesaver.min.js"></script>

<script src="/js/editor/puzzles.js"></script>
<script src="/js/editor/executor.js"></script>
<script src="/js/editor/output.js"></script>
<script src="/js/editor/ui.js"></script>
<script src="/js/editor/workspace.js"></script>
<script src="/js/editor/main.js"></script>

<script src="/js/editor/custom_blocks/assert.js"></script>
<script src="/js/editor/custom_blocks/get_output.js"></script>
<script src="/js/editor/custom_blocks/simulate_input.js"></script>
<script src="/js/editor/custom_blocks/if_outputs_left.js"></script>
<script src="/js/editor/custom_blocks/if_prompts_missed.js"></script>
<script src="/js/editor/custom_blocks/test_console.js"></script>
