html, body {
    height: 100%;
    overflow: hidden;
}
a {
    cursor: pointer;
}

.navbar {
    border-radius: 0;
    border: 0;
    background-color: #6685B5;
}

.navbar .navbar-brand {
    color: white;
    font-weight: 800;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: rgb(237, 237, 237);
}
.navbar-default .navbar-nav>li:hover {
    background-color: #2D4D80;
}

.main {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 60px 0 10px 10px;
}

.main .main-panels {
    box-sizing: border-box;
    width: 100%;
    height: 75%;
}
.main .main-panels .panel-container {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: left;
    padding-right: 10px;
}
.main .main-panels .panel {
    height: 100%;
}
.main .main-panels .panel .dropdown-toggle:hover {
    cursor: pointer;
}
.main .output-panel {
    height: 25%;
    padding-top: 10px;
}
.main .output-panel .panel-container {
    height: 100%;
    padding-right: 10px;
}
.main .output-panel .panel {
    height: 100%;
}
.main .output-panel .panel-body {
    max-height: 20px;
    overflow-y: scroll;
    padding: 5px;
}
.panel-heading {
    position: relative;
}
.panel-heading .btn-run {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    height: 100%;
    border-radius: 0;
    border-top-right-radius: 4px;
    background: #0788B8;
    color: white;
}
.panel-heading .btn:hover {
    background: #0A7EA9;
}

.panel-body {
    padding: 0px;
}


pre {
    background-color: transparent;
    border: 0;
    padding: 0;
}
